---
layout: default
title: Natron
---
<section class="herosection" style="background-image: url({{base}}{{site.home.hero.image}})">
  <div class="herosection-container">
    <div>
      <h1 class="h1 large-dropshadow-text">{{site.home.hero.title}}</h1>
      <p class="hero-subheader large-dropshadow-text">{{site.home.hero.description}}</p>
      <div>
        <a class="button large-dropshadow" href="{{site.home.hero.button.url}}"><i class='bx {{site.home.hero.button.icon}}'></i>{{site.home.hero.button.title}}</a>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="features">
  <div class="section-container">
    <div class="index-features-titlecontainer">
      <h2 class="h2 center-text">{{site.home.features.title}}</h2>
      <p class="p-body center-text">{{site.home.features.description}}</p>
    </div>
    <div class="index-features">
      <ul>
        {% for item in site.home.features.items %}
        <li>
          <div class="index-featurecard">
            <img src="{{base}}{{item[1].image}}">
            <div>
              <h4 class="h4">{{item[1].title}}</h4>
              <p class="p-small">{{item[1].description}}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="stdsection">
  <div class="section-container">
    <div class="index-aboutnodes">
      <div class="index-aboutnodes-imagecontainer">
        <img src="{{base}}{{site.home.aboutnodes.image.url}}" alt="{{site.home.aboutnodes.image.alt}}">
      </div>
      <div class="index-aboutnodes-textcontainer">
        <div>
          <h2 class="h2">{{site.home.aboutnodes.title}}</h2>
          {% for p in site.home.aboutnodes.description.items %}
          <p class="p-body">{{p[1].content}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="download">
  <div class="section-container">
    <div class="index-downloads-titlecontainer">
      <h2 class="h2 center-text">{{site.downloads.title}}</h2>
      <p class="p-body center-text">{{site.downloads.description}} <a href="{{site.natron.release.url.base}}{{site.natron.release.url.tag}}{{site.natron.release.version}}" target="_blank" class="intext-link intext-link-glow">{{site.natron.release.version}}</a> ({{site.natron.release.date}})</p>
    </div>
    <div class="index-downloads-oscontainer">
      {% for os in site.downloads.items %}
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx {{os[1].icon}}'></i>{{os[1].title}}</h3>
        </div>
        <div>
          <p class="p-small">{{os[1].description}}</p>
        </div>
        <div class="index-downloads-os-links">
          {% for version in os[1].versions %}
          {% if version[1].suffix == '' %}
          <a href="{{version[1].url}}" target="_blank" class="p-small intext-link intext-link-glow">{{version[1].title}}</a>
          {% else %}
          <a href="{{site.natron.release.url.base}}{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{version[1].suffix}}" class="p-small intext-link intext-link-glow">{{version[1].title}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx {{site.addons.icon}}'></i>{{site.addons.title}}</h3>
        </div>
        <div>
          <p class="p-small">{{site.addons.description}}</p>
        </div>
        <div class="index-downloads-os-links">
          {% for item in site.addons.items %}
          <a href="{{site.addons.url}}{{item[1].url}}" target="_blank" class="p-small intext-link intext-link-glow">{{item[1].title}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx {{site.sourcecode.icon}}'></i>{{site.sourcecode.title}}</h3>
        </div>
        <div>
          <p class="p-small">{{site.sourcecode.description}}</p>
        </div>
        <div class="index-downloads-os-links">
          {% for item in site.sourcecode.items %}
          <a href="{{site.sourcecode.url}}{{item[1].url}}" target="_blank" class="p-small intext-link intext-link-glow">{{item[1].title}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx {{site.examples.icon}}'></i>{{site.examples.title}}</h3>
        </div>
        <div>
          <p class="p-small">{{site.examples.description}}</p>
        </div>
        <div class="index-downloads-os-links">
          {% for item in site.examples.items %}
          <a href="{{site.examples.url}}{{item[1].url}}" target="_blank" class="p-small intext-link intext-link-glow">{{item[1].title}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="community">
  <div class="section-container">
    <div class="index-community-titlecontainer">
      <h2 class="h2 center-text">{{site.community.title.home}}</h2>
    </div>
    <div class="index-community-cardgrid">
    {% for item in site.community.items %}
    <div class="index-community-cardcontainer">
      <a href="{{item[1].url}}" target="_blank" class="index-card">
        <div class="index-card-icon"><i class='bx {{item[1].icon}}'></i></div>
        <div class="index-card-text">
          <div>
            <h4 class="h4">{{item[1].title}}</h4>
            <p class="p-small">{{item[1].description}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    </div>
  </div>
</section>
