---
layout: default
title: Natron
---
<section class="herosection" style="background-image: url({{base}}{{site.home.hero.image}})">
  <div class="herosection-container">
    <div>
      <h1 class="h1 large-dropshadow-text">{{site.home.hero.title}}</h1>
      <p class="hero-subheader large-dropshadow-text">{{site.home.hero.description}}</p>
      <div>
        <a class="button large-dropshadow" href="{{site.home.hero.button.url}}"><i class='bx bxs-download'></i>{{site.home.hero.button.title}}</a>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="features">
  <div class="section-container">
    <div class="index-features-titlecontainer">
      <h2 class="h2 center-text">{{site.home.features.title}}</h2>
      <p class="p-body center-text">
        {{site.home.features.description}}
      </p>
    </div>
    <div class="index-features">
      <ul>
        {% for item in site.home.features.items %}
        <li>
          <div class="index-featurecard">
            <img src="{{base}}{{item[1].image}}">
            <div>
              <h4 class="h4">{{item[1].title}}</h4>
              <p class="p-small">{{item[1].description}}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="stdsection">
  <div class="section-container">
    <div class="index-aboutnodes">
      <div class="index-aboutnodes-imagecontainer">
        <img src="{{base}}img/natron-screenshot.png" alt="A flatscreen monitor displaying Natron's interface">
      </div>
      <div class="index-aboutnodes-textcontainer">
        <div>
          <h2 class="h2">Work smarter with nodes</h2>
          <p class="p-body">
            No more frustrating hunts through nested precomps! Fusion and Nuke users will be right at home in Natron’s node graph. Group, merge, and tinker to achieve just about any effect. Create pixel perfect mattes, cleanplates, and set
            extensions, all with node trees.
            <br />
            <br />
            Build, group, and save your own nodes to create custom tools and presets. Natron features drag-and-drop installation of <a href="https://github.com/NatronGitHub/natron-plugins" class="intext-link intext-link-glow">community-made “pyplug”
              nodes.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="download">
  <div class="section-container">
    <div class="index-downloads-titlecontainer">
      <h2 class="h2 center-text">Download Natron</h2>
      <p class="p-body center-text">
        Latest version: <a href="{{site.natron.release.url.tag}}{{site.natron.release.version}}" target="_blank" class="intext-link intext-link-glow">{{site.natron.release.version}}</a> ({{site.natron.release.date}})
      </p>
      <p class="p-small center-text">
        <a href="https://github.com/NatronGitHub/Natron#requirements" target="_blank" class="intext-link intext-link-glow">System requirements</a>
      </p>
    </div>
    <div class="index-downloads-oscontainer">
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-apple'></i>macOS</h3>
        </div>
        <div>
          <p class="p-small">
            Supports from Snow Leopard up to the latest version of macOS running on Intel hardware.
          </p>
        </div>
        <div class="index-downloads-os-links">
          {% if site.natron.release.macos.v11 %}
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.macos.v11}}" class="p-small intext-link intext-link-glow">
            Big Sur and later
          </a>
          {% endif %}
          {% if site.natron.release.macos.v1015 %}
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.macos.v1015}}" class="p-small intext-link intext-link-glow">
            Catalina
          </a>
          {% endif %}
          {% if site.natron.release.macos.v109 %}
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.macos.v109}}" class="p-small intext-link intext-link-glow">
            Mavericks, Yosemite, El Capitan, (High) Sierra, Mojave
          </a>
          {% endif %}
          {% if site.natron.release.macos.v106 %}
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.macos.v106}}" class="p-small intext-link intext-link-glow">
            Snow Leopard, (Mountain) Lion
          </a>
          {% endif %}
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-windows'></i>Windows</h3>
        </div>
        <div>
          <p class="p-small">
            Supports Windows 8.1/10/11 x64.
          </p>
        </div>
        <div class="index-downloads-os-links">
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.windows}}" class="p-small intext-link intext-link-glow">
            Installer & Portable
          </a>
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-tux'></i>GNU/Linux</h3>
        </div>
        <div>
          <p class="p-small">
            Supports any x86_64 distribution with X11, glibc 2.17+ and libgcc 4.8+.
          </p>
        </div>
        <div class="index-downloads-os-links">
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.linux.installer}}" class="p-small intext-link intext-link-glow">
            Installer
          </a>
          <a href="{{site.natron.release.url.download}}{{site.natron.release.version}}/Natron-{{site.natron.release.version}}{{site.natron.release.linux.installer}}" class="p-small intext-link intext-link-glow">
            Portable
          </a>
          {% if site.natron.release.linux.flatpak %}
          <a href="{{site.natron.release.linux.flatpak}}" target="_blank" class="p-small intext-link intext-link-glow">
            Flatpak
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stdsection" id="community">
  <div class="section-container">
    <div class="index-community-titlecontainer">
      <h2 class="h2 center-text">Join the community!</h2>
    </div>
    <div class="index-community-cardgrid">
      <div class="index-community-cardcontainer">
        <a href="{{site.github}}" target="_blank" class="index-card">
          <div class="index-card-icon">
            <i class='bx bxl-github'></i>
          </div>
          <div class="index-card-text">
            <div>
              <h4 class="h4">Contribute on GitHub</h4>
              <p class="p-small">
                Source code, bug reports, and build guides for developers!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="index-community-cardcontainer">
        <a href="{{site.forum}}" target="_blank" class="index-card">
          <div class="index-card-icon">
            <i class='bx bxl-discourse'></i>
          </div>
          <div class="index-card-text">
            <div>
              <h4 class="h4">Discuss on the forum</h4>
              <p class="p-small">
                The official place for questions and discussion about Natron!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="index-community-cardcontainer">
        <a href="{{site.facebook}}" target="_blank" class="index-card">
          <div class="index-card-icon">
            <i class='bx bxl-facebook-circle'></i>
          </div>
          <div class="index-card-text">
            <div>
              <h4 class="h4">Find us on Facebook</h4>
              <p class="p-small">
                Join the Natron Nation group on Facebook!
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="index-community-cardcontainer">
        <a href="{{site.discord}}" target="_blank" class="index-card">
          <div class="index-card-icon">
            <i class='bx bxl-discord'></i>
          </div>
          <div class="index-card-text">
            <div>
              <h4 class="h4">Join us on Discord</h4>
              <p class="p-small">
                If you prefer text chat, check out the Discord server!
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
