<footer class="stdsection">
  <div class="section-container">
    <div class="footer-rule"></div>
    <div class="footer-logocontainer">
      <a class="footer-logo-link" href="{{base}}">
        <object type="image/svg+xml" class="footer-logo" data="{{base}}/img/natron-wordmark-logo.svg"></object>
      </a>
    </div>
    <div class="footer-linkscontainer">
      <nav aria-label="main">
        <h4 class="h4">{{site.explore.title}}</h4>
        <ul class="footer-links-list">
          {% for item in site.explore.items %}
          {% if item[1].footer == true %}
          <li>
            {% if item[1].url.external == true %}
            <a href="{{item[1].url.link}}" target="_blank">{{item[1].title}}</a>
            {% else %}
            <a href="{{base}}{{item[1].url.link}}">{{item[1].title}}</a>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <div class="footer-tutorialcontainer">
        <h4 class="h4">{{site.learn.title}}</h4>
        <ul class="footer-links-list">
          {% for item in site.learn.items %}
          <li><a href="{{site.learn.url}}/en/rb-{{site.natron.branch}}/{{item[1].url}}" target="_blank">{{item[1].title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-communitycontainer">
        <h4 class="h4">{{site.community.title.footer}}</h4>
        <p class="p-small">{{site.community.description.footer}}</p>
        <div>
          {% for item in site.community.items %}
          <a title="{{item[1].title}}" href="{{item[1].url}}" target="_blank">
            <i class='bx {{item[1].icon}}'></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
