<footer class="stdsection">
  <div class="section-container">
    <div class="footer-rule"></div>
    <div class="footer-logocontainer">
      <a class="footer-logo-link" href="{{base}}">
        <object type="image/svg+xml" class="footer-logo" data="{{base}}/img/natron-wordmark-logo.svg"></object>
      </a>
    </div>
    <div class="footer-linkscontainer">
      <nav aria-label="main">
        <h4 class="h4">Explore</h4>
        <ul class="footer-links-list">
          <li>
            <a href="{{base}}">Home</a>
          </li>
          <li>
            <a href="{{base}}/#download">Downloads</a>
          </li>
          <li>
            <a href="{{base}}/news">News</a>
          </li>
          <li>
            <a href="{{base}}/#features">Features</a>
          </li>
          <li>
            <a href="{{base}}/#community">Community</a>
          </li>
          <li>
            <a href="{{site.docs}}" target="_blank">Documentation</a>
          </li>
        </ul>
      </nav>
      <div class="footer-tutorialcontainer">
        <h4 class="h4">Learn</h4>
        <ul class="footer-links-list">
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.intro}}" target="_blank">What is compositing?</a>
          </li>
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.getting_started}}" target="_blank">Getting Started</a>
          </li>
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.compositing}}" target="_blank">Compositing</a>
          </li>
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.tutorials}}" target="_blank">Tutorials</a>
          </li>
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.reference}}" target="_blank">Reference Guide</a>
          </li>
          <li>
            <a href="{{site.docs}}/en/rb-{{site.natron.branch}}/{{site.guide.developer}}" target="_blank">Developers Guide</a>
          </li>
          <li>
            <a href="{{site.demos}}" target="_blank">Demo/Example Files</a>
          </li>
        </ul>
      </div>
      <div class="footer-communitycontainer">
        <h4 class="h4">Community</h4>
        <p class="p-small">Follow us on social media for the latest on Natron!</p>
        <div>
          <a title="GitHub" href="{{site.github}}">
            <i class='bx bxl-github'></i>
          </a>
          <a title="Forum" href="{{site.forum}}">
            <i class='bx bxl-discourse'></i>
          </a>
          <a title="Twitter" href="{{site.facebook}}">
            <i class='bx bxl-facebook'></i>
          </a>
          <a title="Discord" href="{{site.discord}}">
            <i class='bx bxl-discord'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
